.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 30px;
    width: 360px;
    margin-bottom: 20px;
    text-align: left;
}

.field {
    border-radius: 4px;
    height: 30px;
}

.button {
    color: #111111;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.21;
    letter-spacing: 0em;
    background-color: #ecf0c4;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    padding: 8px 20px;
    margin: 0 auto;
}

.error {
    color: rgb(205, 36, 36);
}